<a href="https://colab.research.google.com/github/binyasin/binyasin/blob/main/listcomprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
num =[2,4,5,6,7]
#Sq=[]
#for num in num:
#  if num%2==0:
 #   Sq.append(num*num)
#print(Sq)

print([num*num for num in num if num%2==0])

[4, 16, 36]

In [29]:
num =[2,4,5,6,7]
#Sq=[]
#for num in num:
#  if num%2==0:
 #   Sq.append(num*num)
#print(Sq)

print([num*num for num in num if num%2==0 if num%3==0])

[36]

In [ ]:
num =[2,4,5,6,7]
#Sq=[]
#for num in num:
 #   Sq.append(num*num)
#print(Sq)

print([num*num for num in num])

[4, 16, 25, 36, 49]

In [31]:
num =[2,4,5,6,7]
#Sq=[]
#for num in num:
 #   Sq.append(num*num)
#print(Sq)

print([num*num if num%2==0 else num*num*num  for num in num])

[4, 16, 125, 36, 343]

In [43]:
list=[]
for i in range(3,7):
    for j in range(5,7):
      list.append(i*j)
print(list)

# list comprehension

[i*j for i in range(3,7) for j in range(5,7)]

[15, 18, 20, 24, 25, 30, 30, 36]

[15, 18, 20, 24, 25, 30, 30, 36]